.profile__edit-button {
  background-color: #000;
  border: 0;
  cursor: pointer;
  width: 24px;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
  }
}
