.popup__input {
  width: 358px;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  margin: 0 36px 29px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.2;
  outline: none;
  display: block;
}

.popup__input::placeholder {
  color: #000;
}
