@import url("./__text/profile__text.css");
@import url("./__edit-button/profile__edit-button.css");

.profile {
  display: flex;
  justify-content: space-around;
  width: 880px;
  margin: 40px auto 50px;
}
