.profile__occupation {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
  margin: 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 650px) {
  .profile__occupation {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 0;
  }
}
