.profile__avatar {
  max-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

/* .profile__avatar:hover {
  cursor: pointer;
  background: url("../../../../images/Pencil.svg") center no-repeat;
  background-color: #c4c4c4;
} */

@media only screen and (max-width: 650px) {
  .profile__avatar {
    margin-bottom: 30px;
  }
}
