.popup__close_button {
  transform: rotate(-45deg);
  position: absolute;
  left: 66.15%;
  right: 30.73%;
  top: 175px;
  /* right: 0;
  top: 0; */
  outline: none;
  padding: 0;
  border: 0;
}

.popup__close_button:hover {
  opacity: 0.6;
  transform: rotate(45deg);
}
