.popup__close-button {
  position: absolute;
  right: -60px;
  top: -40px;
  outline: none;
  padding: 0;
  border: 0;
  background-color: #000;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
  transform: rotate(45deg);
}

@media only screen and (max-width: 320px) {
  .popup__close-button {
    right: -6px;
    top: -65px;
  }
}
