@import url("./__image/element__image.css");
@import url("./__text/element__text.css");
@import url("./__flex/element__flex.css");

.element {
  border-radius: 10px;
  background-color: #fff;
  max-width: 282px;
}

@media only screen and (max-width: 320px) {
  .element {
    margin: 0 auto;
  }
}
