.profile__occupation {
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #ffffff;
  margin: 0;
}

@media only screen and (max-width: 320px) {
  .profile__occupation {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
