.profile__bio {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 320px) {
  .profile__bio {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
